.interface {
    width: 20%;
    margin: 100px auto;
}

.pass-display {
    width: 300px;
    height: 100px;
    border: 1px solid #000;
    text-align: center;
}

.pass {
    margin: 0;
}

.access-txt {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.keyboard {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.btn {
    width: 65px;
    height: 65px;
    margin: 10px 15px;
}

.success {
    background: chartreuse;
}

.error {
    background: red;
}
